<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set syntax=html: -->
<!-- yes, you may use another editor, but, vim is BETTER -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="inspired by haran from Gila OSWD" />
    <link rel="stylesheet" type="text/css" href="fas:/template/gila/css/gila.css" title="Grey boxes stylesheet" />
    <link rel="stylesheet" type="text/css" href="fas:/template/gila/css/color-scheme.css" />
    <title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
  </head>

  <body>
    <div id="top"><!-- BEGIN PATH --><!-- END PATH --></div>
  
    <!-- ###### Header ###### -->
    <div id="header">
    	<a href="http://www.ucome.org" class="headerTitle">UCome  <span>Votre gestion de contenus</span></a>
	    <div class="headerLinks">
		&nbsp;Connecté en tant que : <!-- BEGIN WHOAMI --><!-- END WHOAMI -->&nbsp;|&nbsp;
		<a href="fas:${file}&action=login_form" class="topmenu" title="Login">Se logger</a>
	    </div>
    </div>
    <div class="menuBar">
         <!-- BEGIN ALLOW --><!-- END ALLOW -->
    </div>

    <!-- ###### Side Boxes ###### -->
    <div class="leftSideBar">
    	<!-- BEGIN MENU -->
    	<!-- END MENU -->
	<div class="sideBarTitle">Demandez</div>
    	<span class="sideTextBox" >
        Des questions, des commentaires ? Des conseils de moi ou pour moi ? Merci <a href="mailto:info@no-spam-ucome.org" class="dash" title="email the author">de m'envoyer un mail.</a></span>
    </div>

    <!-- ###### Body Text ###### -->

    <div id="bodyText">
	<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
    </div>
    
    <!-- ###### Footer ###### -->
    <div id="footer">
      <div>
            UCome - Créé par  <a class="footerLHS" href="http://linbox.com" title="Linbox/Free&amp;ALter Soft">Linbox/Free&amp;ALter Soft</a>
      </div>

      <div>
        Look de <a href="http://oswd.org">OSWD</a> adapté de Sinorca shareright &copy; 2003 par Haran. Merci Haran.&nbsp;
      </div>
    </div>
  </body>
</html>
