<HTML><HEAD>
<META NAME="generator" CONTENT="txt2ml v1.4b">
<TITLE>Récapitulatif</TITLE>
</HEAD>
<BODY  >
<CENTER><H1>Récapitulatif</H1></CENTER><P></P>
<A NAME="1."></A>
<H1>1. Equivalences texte-html pour txt2ml et txt2mlsp</H1>
<TABLE BORDER=1><TR><TD COLSPAN=1> <B>TEXTE</B> </TD>
<TD COLSPAN=1> <B>HTML</B></TD>
</TR>
<TR><TD COLSPAN=1> 1ere ligne du fichier		</TD>
<TD COLSPAN=1> Titre de la page</TD>
</TR>
<TR><TD COLSPAN=1> 1. Titre paragraphe	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Titre de paragraphe</TD>
</TR>
<TR><TD COLSPAN=1> 3.2. Sous-Titre paragraphe	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Sous-Titre de paragraphe</TD>
</TR>
<TR><TD COLSPAN=1> Listes :<BR><P></P><P> "Les fruits proposés :</P><TABLE BORDER=0><TR></TD><TD COLSPAN=1>&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=2 >+ pommes</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;- printanières</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;+ golden</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;+ red love</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1>&nbsp;&nbsp;- tardives</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=2 >+ poires&nbsp;&nbsp;</TD>
</TR>
<TR><TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=2 >+ abricots "</TD>
</TR></TABLE>
</TD><TD COLSPAN=1>
<BR><P> Les fruits proposés :</P><UL><LI> pommes</LI>
<UL><LI> printanières</LI>
<UL><LI> golden</LI>
<LI> red love</LI>
</UL>
<LI> tardives</LI>
</UL>
<LI> poires</LI>
<LI> abricots</LI>
</UL>
</TD></TR>
<TR><TD COLSPAN=1> Images :<BR><P> "Ceci montre une image&nbsp;&nbsp;new.gif"</P><P> "Ceci montre une image&nbsp;&nbsp;!new.gif"</P><P></P><P> " new.gif"</P><P> "Fig: Jolie image, n'est ce pas?"</P></TD><TD COLSPAN=1>
<BR><P> Ceci montre une image <IMG SRC="new.gif"></P><P> Ceci montre une image&nbsp;&nbsp;new.gif</P><P></P><CENTER><IMG SRC="new.gif"></CENTER>
<CENTER><I>Fig: Jolie image, n'est ce pas?</I></CENTER>
<P> (l'image et le commentaire sont centrés)</P></TD></TR>
<TR><TD COLSPAN=1>&nbsp;
<BR><PRE>

''gras''

'''italique'''

''''souligné''''

'''''barré'''''
</PRE>
</TD><TD COLSPAN=1>
<BR><P> <B>gras</B></P><P> <I>italique</I></P><P> <U>souligné</U></P><P> <S>barré</S></P></TD></TR>
<TR><TD COLSPAN=1> Liens :<BR><P> " http://www.freealter.com ou&nbsp;&nbsp;ftp://ftp.lip6.fr"</P><P> " url:tutoriel.html ou&nbsp;&nbsp; url:new.gif"</P><P> "Merci de visiter&nbsp;&nbsp;'notre site'=http://www.freealter.com"</P><P> "! http://www.freealter.com"</P></TD><TD COLSPAN=1>
<BR><P> <A HREF="http://www.freealter.com">http://www.freealter.com</A> ou <A HREF="ftp://ftp.lip6.fr">ftp://ftp.lip6.fr</A></P><P> <A HREF="tutoriel.html">tutoriel.html</A> ou&nbsp;&nbsp;<A HREF="new.gif">new.gif</A></P><P> Merci de visiter <A HREF="http://www.freealter.com">notre site</A></P><P>&nbsp;&nbsp;http://www.freealter.com</P></TD></TR>
<TR><TD COLSPAN=1> Barre de séparation<BR><P> "--"</P></TD><TD COLSPAN=1>
<BR><HR>
</TD></TR>
<TR><TD COLSPAN=1> Tableaux simples<BR><PRE>
||2 case double | case suivante | case 4
| seconde ligne | seconde case 
|3 case à 3 colonnes !new.gif
| dernière ligne |2 case double | dernière case
</PRE>
</TD><TD COLSPAN=1>
<BR><TABLE BORDER=1><TR></TD><TD COLSPAN=2 >case double </TD>
<TD COLSPAN=1> case suivante </TD>
<TD COLSPAN=1> case 4</TD>
</TR>
<TR><TD COLSPAN=1> seconde ligne </TD>
<TD COLSPAN=1> seconde case </TD>
<TD COLSPAN=1>&nbsp;</TD>
<TD COLSPAN=1>&nbsp;</TD>
</TR>
<TR><TD COLSPAN=3> case à 3 colonnes <IMG SRC="new.gif"><BR></TD><TD COLSPAN=1>&nbsp;</TD>
</TR>
<TR><TD COLSPAN=1> dernière ligne </TD>
<TD COLSPAN=2 >case double </TD>
<TD COLSPAN=1> dernière case</TD>
</TR></TABLE>
</TD></TR>
<TR><TD COLSPAN=1> summary<BR></TD><TD COLSPAN=1>Inclus le sommaire à l'endroit courant<BR></TD></TR>
<TR><TD COLSPAN=1> "include toto.html"<BR></TD><TD COLSPAN=1>Inclus le texte de toto.html à l'endroit courant<BR></TD></TR></TABLE>
<P></P>
<A NAME="2."></A>
<H1>2. Syntaxe spécifique à txt2ml</H1>
<TABLE BORDER=1><TR><TD COLSPAN=1> <B>Texte</B> </TD>
<TD COLSPAN=1> <B>Html</B></TD>
</TR>
<TR><TD COLSPAN=1> Tableaux évolués<BR><PRE>
@@||2 Tableau évolué avec 2 tableaux à l'intérieur
@| @@|3 tableau sans contour
@| un | deux | trois
@|3 3 cases pour moi
|@@
| @@||2 tableau de droite
@| une | et deux
@| !new.gif trois | quatre
@|2 2 cases pour moi 
|@@
|@@
</PRE>
</TD><TD COLSPAN=1>
<BR><TABLE BORDER=1><TR><TD COLSPAN=2> Tableau évolué avec 2 tableaux à l'intérieur<BR></TD></TR>
<TR><TD COLSPAN=1><TABLE BORDER=0><TR><TD COLSPAN=3> tableau sans contour<BR></TD></TR>
<TR><TD COLSPAN=1> un </TD>
<TD COLSPAN=1> deux </TD>
<TD COLSPAN=1> trois</TD>
</TR>
<TR><TD COLSPAN=3> 3 cases pour moi<BR></TD></TR></TABLE>
</TD><TD COLSPAN=1><TABLE BORDER=1><TR><TD COLSPAN=2> tableau de droite<BR></TD></TR>
<TR><TD COLSPAN=1> une </TD>
<TD COLSPAN=1> et deux</TD>
</TR>
<TR><TD COLSPAN=1> <IMG SRC="new.gif"> trois </TD>
<TD COLSPAN=1> quatre</TD>
</TR>
<TR><TD COLSPAN=2> 2 cases pour moi <BR></TD></TR></TABLE>
</TD></TR></TABLE>
</TD><P></P></TR></TABLE>
<P></P>
<A NAME="3."></A>
<H1>3. Options</H1>
<TABLE BORDER=1><TR><TD COLSPAN=2 >Usage : txt2ml [OPTIONS]... -f nom_fichier_texte</TD>
</TR>
<TR><TD COLSPAN=1> -file, -f&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </TD>
<TD COLSPAN=1> Nom du fichier texte.</TD>
</TR>
<TR><TD COLSPAN=1> -output_file, -o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Nom du fichier html produit. Par défaut le code html produit est envoyé sur la sortie standard.</TD>
</TR>
<TR><TD COLSPAN=1> -title, -t&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Titre de la page web.</TD>
</TR>
<TR><TD COLSPAN=1> -no_title_inside, -nti&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Le titre de la page ne réapparait pas dans la page, mais il est toujours utilisé pour le marqueur de titre de page.</TD>
</TR>
<TR><TD COLSPAN=1> -no_auto_index, -nai&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> La numérotation des titres n'est pas automatiquement générée. Les valeurs du fichier txt sont conservées.</TD>
</TR>
<TR><TD COLSPAN=1> -no_head, -nh		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Pas de tags HTML, HEAD, BODY dans la page. Utilisé pour produire des fichiers que l'on peut inclure dans une autre page.</TD>
</TR>
<TR><TD COLSPAN=1> -background, -bg&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Fond de la page web. Pas de fond par défaut.</TD>
</TR>
<TR><TD COLSPAN=1> -css&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Nom du fichier qui contient la définition de style. Ce fichier doit commencer par la balise <STYLE> et finir par </STYLE>, ou contenir une balise <LINK >.</TD>
</TR>
<TR><TD COLSPAN=1> -perso, -p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Nom du fichier tcl qui contient votre fichier de personnalisation. Attention : cette option n'est pas celle pour les feuilles de styles et n'est à utiliser que par des utilisateurs avertis.</TD>
</TR>
<TR><TD COLSPAN=1> -contents, -ct&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Ajoute des liens vers les différents paragraphes au sommet et au pied de la page. Option équivalente à -top_content -bottom_content.</TD>
</TR>
<TR><TD COLSPAN=1> -top_content, -top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Ajoute au sommet de la page des liens vers les paragraphes.</TD>
</TR>
<TR><TD COLSPAN=1> -bottom_content, -bottom&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Ajoute au pied de la page des liens vers les paragraphes.</TD>
</TR>
<TR><TD COLSPAN=1> -summary_level, -s&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=1> Niveau maximum de titres à inclure dans le sommaire. 3 par défaut.</TD>
</TR>
<TR><TD COLSPAN=1> -help, -h&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </TD>
<TD COLSPAN=1> Affiche l'aide.</TD>
</TR>
</TABLE>
</BODY></HTML>
