<html>
<!-- vim: set syntax=html: --><!-- UCOME EDIT_FORM.ORDER.TEMPLATE - /template/standard/ -->
  <head>
    <title><!-- BEGIN HEAD_TITLE --><!-- END HEAD_TITLE --></title>
    <!-- dir.tmpl -->
  </head>

<body bgcolor="#FFFFFF" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<script type="text/javascript" src="fas:/template/standard/js/updownrow.js" />
<script type="text/javascript" src="fas:/template/standard/js/fvlogger/logger.js" />
<link rel="stylesheet" href="fas:/template/standard/js/fvlogger/logger.css" />
<!-- menu_form.tmpl -->
<!-- BEGIN FORM --><!-- FORM --><div align=center>
        <h1>Order edition for <a href="fas:${export_filename}">${export_filename}</a></h1>
</div>
<form action="${FAS_VIEW_CGI}" method="post">
	<input type="hidden" name="action" value="edit_form">
	<input type="hidden" name="file" value="${export_filename}">
        <div align=center>
		<!-- BEGIN INMENU --><!-- INMENU --><!-- /INMENU --><!-- END INMENU -->
		<BR>
		<!-- BEGIN OUTMENU --><!-- OUTMENU --><!-- /OUTMENU --><!-- END OUTMENU -->
		<input type="submit" value="Show" name="show">&nbsp;&nbsp;
		<a href="fas:${export_filename}"><img src="${icons_url}/cancel.gif" border="0"></a>
		&nbsp;&nbsp;<input type="submit" value="Store" name="store_name">
	</div>
</form><!-- /FORM --><!-- END FORM -->
<div id="fvlogger" />
</body>
</html>
