a img 	{
color: white;
border-style: none;
}

body 
{
	background-image: url(fas:/template/linbox5/img/fd-gris.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
}

pre {
	font-size: 10px;
}

div#container 
{
	position: 	absolute;
	/* width:		760px; */
	width:		95%;
	left: 		2%;
	/* margin-left: 	-380px; */
	overflow: 	visible;
	background-color: #cccccc;
}

div#headerSearch {
	position:	absolute;
	top:	40px;
	right:  50px;
}

div#headerSearch input {
	background-color:#f8c9bc;
}

div#header 
{
	height: 	73px;
	border-top: 	5px solid #FF3300;
	border-bottom:  5px solid #999999;
	background-image:  url(fas:/template/linbox5/img/haut_04.gif);
	background-repeat: repeat-x;
}

div#language
{
	position:	absolute;
	top:		46px;
	right:		5px;
}

div#top_menu 
{	
	width:		100%;
	border-top: 	1px solid #FFFFFF;
	border-bottom: 	1px solid #000000;
}

.top_menu 	  
{
	/* width: 20%; */
	padding-left: 20px;
	padding-right: 20px;
	border: 0px;
	text-align: center;	
	background-color: #EA4F26;
}

.top_menu_sel 
{ 
	/* width: 20%; */
	padding-left: 20px;
	padding-right: 20px;
	border: 0px;
	text-align: center;	
	background-color: #FFFFFF;
}

div#path
{
	line-height: 	150%;
	padding:	4px;
	text-align: 	left;
	text-indent:	6px;
	border-bottom: 	1px solid #FF3300;
	background-image: url(fas:/template/linbox5/img/haut_05.gif);
}

div#content 
{ 
	background-image: url(fas:/template/linbox5/img/fd-gris.gif);
	background-repeat: repeat-x;
}

.menu_1 
{
	background-image: url(fas:/template/linbox5/img/fd-table3.png);
	background-repeat: no-repeat;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 3px;
	font-size: 12px;
	font-weight: bold;
}

.menu_1_sel 
{
	background-image: url(fas:/template/linbox5/img/fd-table6.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;

	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 3px;

	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #000000;
}

.menu_1_title
{
	display: list-item;
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub5.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 11px;
}

.menu_2
{
	display: list-item;
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub3.gif);
	background-repeat: no-repeat;
	background-position: 8px 10px;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;

	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #000000;
	background-color:#f8c9bc;
}

.menu_3
{
	display: list-item;
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub3.gif);
	background-repeat: no-repeat;
	background-position: 16px 10px;

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 24px;

	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #000000;
	background-color:#fce6e0;
}

.menu_4
{
	/*display: list-item;
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub3.gif);
	background-repeat: no-repeat;
	background-position: 16px 10px;

	text-align: right;*/

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 28px;

	font-size: 10px;
	font-weight: normal;
	border-bottom: 1px dotted gray;
	background-color:#f9f3f2;
}


div#left
{
	width: 20%;
	padding-top: 15px;
	padding-bottom: 17px;
	background-color: #cccccc;
}

div#right 
{	
	width: 	80%;
	background-color: #ffffff; 
}

div#bottom_menu
{
	width:		100%;
	height:		23px;
	border-top: 	1px solid #FF3300;
	border-bottom:	1px;
	background-image: url(fas:/template/linbox5/img/haut_05.gif);
}

div#bottom_text
{
	float: 		left;
	text-align: 	left;
}

div#bottom_w3c 
{
	float:		right;
	margin-top:	4px;
	margin-right:	4px;
}

div#footer
{
	height:		15px;
	padding:	4px;
	border-top: 	1px solid #000000;
	border-bottom:	1px;
	background-color: #CCCCCC;
}

.spacer { clear: both; }
.right	{ float: right; }
.left	{ float: left; }
.small	{ font-size: 9px; padding: 4px; }

.text
{		
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	background-image: url(fas:/template/linbox5/img/fd-table4.gif);
	background-repeat: no-repeat;
}

.text li, .index_text li 
{
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub4.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 10px;
}

.text h1
{	
	/* display: list-item;
	list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub4.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 10px; */
	
	font-size: 14px;
	padding: 6px;
	border: 1px dotted #FF3300;
	background-color: #f9f3f2;
}

.index_text h1
{
	display: list-item;
        list-style-type: none;
	background-image: url(fas:/template/linbox5/img/cub4.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 10px;
	font-size: 12px;
}

.index_linkbox
{
        display: list-item;
        list-style-type: none;
        background-image: url(fas:/template/linbox5/img/cub4.gif);
        background-repeat: no-repeat;
        background-position: 0px 6px;
        padding-left: 12px;
	margin-top: 4px;
	margin-left: 10px;
        font-size: 12px;
	font-weight: bold;
}

.text h2 
{ 
	font-size: 12px;
	padding: 6px;
	/* margin: 0px; */
	border: 1px dotted #FF3300;
}	

.text b, .side_section b, .index_text b, .index_side_menu b {	
	font-weight: bold;
	color: #FF3300;
}
