<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set syntax=html: -->
<!-- yes, you may use another editor, but, vim is BETTER -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="inspired by haran from Sinorca OSWD" />
    <link rel="stylesheet" type="text/css" href="fas:/template/linbox/css/sinorca-linbox.css" title="Grey boxes stylesheet" />
    <link rel="stylesheet" type="text/css" href="fas:/template/linbox/css/color-scheme.css" />
    <title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
  </head>

  <body>
    <div id="top"></div>
  
    <!-- ###### Header ###### -->

    <div id="upperMenuBar">
      <div class="LHS">
        &nbsp;<!-- BEGIN WHOAMI --><!-- END WHOAMI -->
      </div>
      <div class="RHS">
	      <!-- BEGIN PREVIOUS --><!-- END PREVIOUS --> <!-- BEGIN NEXT --><!-- END NEXT -->
      </div>
    </div>

    <div id="header"><a href="http://www.linbox.com"><img src="fas:/template/linbox/img/logo_linbox_small.png" alt="Logo linbox"></a></div>

	<!-- BEGIN SEARCH --><!-- END SEARCH -->

    <div id="lowerMenuBar">
         <!-- BEGIN ALLOW --><!-- END ALLOW -->
    </div>

    <!-- ###### Side Boxes ###### -->
    <!-- BEGIN MENU -->
    <!-- END MENU -->
    <!-- div class="sideMenuBox lighterBG" -->
    <div class="sideMenuBox" >
	    <!-- BEGIN MINI_MENU --><!-- END MINI_MENU -->
    </div>
    <div class="sideTextBox" >
        Questions or Comments? Advice for me or from me? Please <a href="mailto:info@no-spam-ucome.org" class="dash" title="email the author">email me.</a>
    </div>

    <!-- ###### Body Text ###### -->

    <div id="bodyText">
	    <!-- BEGIN PATH --><!-- END PATH --><br />
	<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
    </div>
    
    <!-- ###### Footer ###### -->
    <div id="footerMAIN">
      <div id="footerLS">UCome - Created by  <a href="http://linbox.com" title="Linbox/Free&amp;ALter Soft">Linbox/Free&amp;ALter Soft</a>
      </div>
      <div id="footerRS">Look closely adapted from <a href="http://oswd.com">OSWD</a> Sinorca design shareright &copy; 2003 Haran. Thank you Haran.&nbsp;
       </div>
     </div>
  </body>
</html>
