<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- colors and general layout based on http://geocities.yahoo.com -->
<!-- vim: set syntax=html: -->
<html>
<head>
	<title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
	<link  rel="stylesheet" type="text/css" href="fas:/template/droll/css/style.css" title="Standard stylesheet" />
</head>
<body>
<div align=center>
<table border=0 cellpadding=1 cellspacing=0 width="80%">
<tr>
	<td class="tableOutline1">
		<table border=0 cellspacing=0 cellpadding=4 width="100%">
		<tr valign=middle class="titleBarTop">
			<td> 
				<span class=title>Ucome - Your Content Management</span>
				
			</td>
			<td align=right>
				<!-- BEGIN ALLOW --><!-- END ALLOW -->
			</td>
		</tr>
		</table>


		<table width="100%" cellpadding=2 cellspacing=0 border=0>
		<tr class=tableBody1 valign=middle>
			<td width="50%">
				<span class=heading><!-- BEGIN WHOAMI --><!-- END WHOAMI -->&nbsp;-&nbsp;</span>
			</td>
			<td width="50%" align=right>
				<b>Inspired by droll design at <a href="www.oswd.org">OSWD</a></b>
			</td>
		</tr>
		</table>

	</td>
</tr>
</table>

<table border=0 cellpadding=4 cellspacing=0 width="80%">
<tr>
	<td align="left">
	<!-- BEGIN PATH --><!-- END PATH -->
	</td>
	<td align="right">
	<!-- BEGIN PREVIOUS --><!-- END PREVIOUS -->  <!-- BEGIN NEXT --><!-- END NEXT -->
	</td>
</tr>
</table>

<p>

<table width="80%" cellpadding=3 cellspacing=0 border=0>
<tr>
	<td valign=top width="30%">
		<table border=0 cellpadding=1 cellspacing=0>
		<tr>
			<td class="tableOutline1">
				<!-- BEGIN MENU --><!-- END MENU -->
			</td>
		</tr>
		</table>
		<br />
		<table border=0 cellpadding=1 cellspacing=0>
		<tr>
			<td class="tableOutline1">
		<table border=0 cellpadding=2 cellspacing=0 width="100%">
			<tr>
				<td nowrap class="tableHead1">
					<b>Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
				</td>
			</tr>
			<tr class=tableBody1>
				<td>
					<table border=0 cellpadding=1 cellspacing=0 width="100%">
						<tr>
							<td><!-- BEGIN SEARCH --><!-- END SEARCH --></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
			</td>
		</tr>
		</table>
	</td>
	<td width="1%">&nbsp;</td>
	<td width="69%" valign=top>
		<table cellpadding=1 cellspacing=0 border=0 width="100%">
		<tr>
			<td>
				<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
			</td>
		</tr>
		</table>
<br>
<p align="center">
<table cellpadding=0 cellspacing=0 border=0 width="80%">
<tr valign="middle">
	<td class="footerOutline" align="center">
		<table cellpadding=1 cellspacing=1 border=0 width="100%">
		<tr valign=top class=footerBody>
			<td align=center colspan="2">
				<!-- BEGIN MINI_MENU --><!-- END MINI_MENU -->
			</td>
		</tr>
		<tr valign=top class=footerBody>
			<td align=center>
				UCome - Created by <a href="http://mandriva.com" title="Free&amp;ALter Soft/Linbox">Linbox/Free&ALter Soft/Mandriva</a>
			</td>
			<td align=center>
				Look inspired by Droll from <a href="www.oswd.org">OSWD</a>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>
</html>
