<html>
	<body>
		<div class="bandeau">
		Actions : 
		<!-- BEGIN CURRENT_BLOCK --><!--END CURRENT_BLOCK --><!-- BEGIN STANDARD_BLOCK -->[<a href="${url}">${text}</a>] <!-- END STANDARD_BLOCK -->
		</div><br />
	</body>
</html>
