<html>
<!-- vim: set syntax=html: -->
	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
		<link rel="stylesheet" type="text/css" href="fas:/template/rrooll/css/rool.css" title="Rool standard" />
	</head>
	<body>
<!-- BEGIN CONTENT --><!-- END CONTENT -->	
	</body>
</html>
