<center><h1>Administration page</h1></center>
<h1>General administrative actions</h1>
You may <b>change the look</b> from <a HREF="fas:/template&action=edit_form&display=template_dir_img&noadd=1">here</a> .<br />
The <b>user management interface</b> is <a HREF="fas:/user&action=edit_form">here</a> .<br />
You may <b>empty the cache</b> in clicking <A href="fas:/any&action=clean_cache_form">here</a>.Ucome agressively cached informations. Normally, dependencies are tested and pages are updated when information have changed. From time to time, this does not work.
<h1>Search engine</h1>
There is a search engine based on swish-e in Ucome. To use it, you must first prepare all files for being indexed. This may be done in clicking <a href="fas:/any&action=txt4index_tree">here</a>.<br />
The index used for searching may be created in clicking <a href="fas:/any&action=create_index">here</a>.<br />
