<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<!-- vim: set syntax=html: -->
<head>
   <title>Useless title for password</title>
</head>
<body bgcolor="#FFFFFF">
<!-- password.template -->
	<!-- FORM START --><!-- BEGIN FORM_START --><form ACTION="${FAS_VIEW_CGI}" METHOD=POST ><input TYPE=HIDDEN NAME="file" VALUE="${export_filename}"><input TYPE=HIDDEN NAME="action" VALUE="edit"><!--END FORM_START --><!-- /FORM_START -->
		<table border="0">
			<tr>
				<td><b>Firstname</b></td>
				<td><!-- BEGIN FIRSTNAME --><!-- END FIRSTNAME --></td>
			</tr>
			<tr>
				<td><b>Lastname</b></td>
				<td><!-- BEGIN LASTNAME --><!-- END LASTNAME --></td>
			</tr>
			<tr>
				<td><b>Tel. 1</b></td>
				<td><!-- BEGIN TEL1 --><!-- END TEL1 --></td>
			</tr>
			<tr>
				<td><b>Tel. 2</b></td>
				<td><!-- BEGIN TEL2 --><!-- END TEL2 --></td>
			</tr>
			<tr>
				<td><b>Tel. 3</b></td>
				<td><!-- BEGIN TEL3 --><!-- END TEL3 --></td>
			</tr>
			<tr>
				<td><b>Fax</b></td>
				<td><!-- BEGIN FAX --><!-- END FAX --></td>
			</tr>
			<tr>
				<td><b>Mail</b></td>
				<td><!-- BEGIN MAIL --><!-- END MAIL --></td>
			</tr>
			<tr>
				<td><b>Password</b></td>
				<td><!-- BEGIN PASSWORD --><!-- END PASSWORD --></td>
			</tr>
		</table>
	<!-- BEGIN FORM_END --><!-- FORM_END -->
	<center><table WIDTH="100%" >
			<tr>
			<td ALIGN=CENTER COLSPAN="3">
			<table>
				<tr>
				<td><input type="image" name="ok" src="${icons_url}/ok.gif" border="0"></td>

				<td><a href="${FAS_VIEW_CGI}?action=edit_form&file=${dir}"><img SRC="${icons_url}/cancel.gif" ALT="Annuler" BORDER=0 ></a></td>
				</tr>
			</table>
			</td>
			</tr>
		</table></center>

	</form><!-- /FORM_END --><!--END FORM_END -->
<!-- /password.template -->
</body>
</html>
