<html>
<body>
<h1><!-- BEGIN TITLE --><!-- END TITLE --> - <!-- BEGIN TITLE_ARTICLE --><!-- END TITLE_ARTICLE --></h1>
<p><div style="float:right;"><!-- BEGIN IMAGE_ARTICLE --><!-- END IMAGE_ARTICLE --></div><!-- BEGIN CONTENT_ARTICLE --><!-- END CONTENT_ARTICLE --></p>
</body>
</html>
