<html>
	<head>
		<title>Documentation index for all content filetypes and actions</title>
	</head>
	<body>
		<h1>Documentation index for all content filetypes and actions</h1>
		<h2>List of all content types</h2>
		<!-- BEGIN CONTENT_LIST -->
		<ul>
			<!-- BEGIN CURRENT_CONTENT_TYPE --><!-- END CURRENT_CONTENT_TYPE -->
			<!-- BEGIN EVEN_CONTENT_TYPE --><li><a href="fas:${export_filename}&action=ucome_doc&filetype=${content_type}">${content_type}</a></li><!-- END EVEN_CONTENT_TYPE -->
			<!-- BEGIN ODD_CONTENT_TYPE --><li><a href="fas:${export_filename}&action=ucome_doc&filetype=${content_type}">${content_type}</a></li><!-- END ODD_CONTENT_TYPE -->
		</ul>
		<!-- END CONTENT_LIST -->
		<h2>List of all actions</h2>
		<!-- BEGIN ACTION_LIST -->
		<ul>
			<!-- BEGIN CURRENT_ACTION_TYPE --><!-- END CURRENT_ACTION_TYPE -->
			<!-- BEGIN EVEN_ACTION_TYPE --><li><a href="fas:${export_filename}&action=ucome_doc&filetype=${action}">${action}</a></li><!-- END EVEN_ACTION_TYPE -->
			<!-- BEGIN ODD_ACTION_TYPE --><li><a href="fas:${export_filename}&action=ucome_doc&filetype=${action}">${action}</a></li><!-- END ODD_ACTION_TYPE -->
		</ul>
		<!-- END ACTION_LIST -->
	</body>
</html>
