<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set syntax=html: -->
<!-- yes, you may use another editor, but, vim is BETTER -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="inspired by haran from Sinorca OSWD" />
    <link rel="stylesheet" type="text/css" href="fas:/template/linbox-slide/css/sinorca-linbox.css" title="Grey boxes stylesheet" />
    <link rel="stylesheet" type="text/css" href="fas:/template/linbox-slide/css/color-scheme.css" />
    <title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
  </head>

  <body>
    <div id="top"></div>
  
    <div id="header"><a href="http://www.linbox.com"><img src="fas:/template/linbox/img/logo_linbox_small.png" alt="Logo linbox"></a></div>

    <form id="headerSearch" action="./index.html" method="get">
      <div>
        <!-- BEGIN PREVIOUS --><!-- END PREVIOUS --><!-- BEGIN NEXT --><!-- END NEXT -->
        <!-- input type="text" class="text" value="Search..." / -->
      
        <!-- ###### Dynamic text box version:
        <input class="text" type="text" value="Search..."
               onFocus="if (this.value == 'Search...') this.value=''; else this.select();"
               onBlur="if (this.value == '') this.value='Search...';" />
             ###### -->

        <!-- input type="submit" class="submit" value="GO" / -->
      </div>
    </form>
    <!-- ###### Body Text ###### -->
    <div id="bodyText">
	    <!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
	    <br /><!-- BEGIN PREVIOUS --><!-- END PREVIOUS --><!-- BEGIN NEXT --><!-- END NEXT -->
    </div>
    
    <!-- ###### Footer ###### -->
    <div id="footerMAIN">
      <a href="http://linbox.com" title="Linbox/Free&amp;ALter Soft">Linbox/Free&amp;ALter Soft</a>
     </div>
    <!-- ###### Side Boxes ###### -->
    <!-- BEGIN MENU -->
    <!-- END MENU -->
    <div class="bottomMenuBox">
	    <!-- BEGIN PATH --><!-- END PATH -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- BEGIN WHOAMI --><!-- END WHOAMI --><br /><br />
	    Actions :<!-- BEGIN ALLOW --><!-- END ALLOW --><br /><br />
	    Sections :<!-- BEGIN MINI_MENU --><!-- END MINI_MENU --><br /><br />
	    <!-- BEGIN SEARCH --> <!-- END SEARCH --><br />
    </div>
    <!-- div class="sideMenuBox lighterBG" -->
  </body>
</html>
