/*** ############# CSS FOR ROOLL ############## ***/
h1 {
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}

td {
	font-size: 55px;
}

body {
	font-size: 55px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#top {
	position:absolute;
	position:fixed !important;
	top : 0px;
	left: 0px;
	width: 100%;
	height: 5Opx;
}

#data {
	position:absolute;
	position:fixed !important;
	width:100%;
	top: 150px;
	bottom: 10px;
	font-size:55px;
	overflow:hidden;
}

#logo {
	position:absolute;
	position:fixed !important;
	top:0px;
	left:0px;
}

#titre {
	position:absolute;
	position:fixed !important;
	top:10px;
	overflow:hidden;
	text-align:left;
}

#donnees {
	position:absolute;
	position:fixed !important;
	width:95%;
	top: 150px;
	bottom: 10px;
	margin-left:20px;
	font-size:55px;
	overflow:hidden;
	text-align:left;
}

.bigsize {
	font-size: 55px;
}

.content {
	padding:5px;
}
