<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set syntax=html: -->
<!-- yes, you may use another editor, but, vim is BETTER -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="inspired by haran from Sinorca OSWD" />
    <link rel="stylesheet" type="text/css" href="fas:/template/sinorca/css/sinorca-grey.css" title="Grey boxes stylesheet" />
    <link rel="stylesheet alternative" type="text/css" href="fas:/template/sinorca/css/sinorca-white.css" title="White boxes stylesheet" />
    <link rel="stylesheet" type="text/css" href="fas:/template/sinorca/css/color-scheme.css" />
    <title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
  </head>

  <body>
    <div id="top"></div>
  
    <!-- ###### Header ###### -->

    <div id="upperMenuBar">
      <div class="LHS">
        &nbsp;Login as : <!-- BEGIN WHOAMI --><!-- END WHOAMI -->&nbsp;|&nbsp;
        <a href="fas:${file}&action=login_form" class="topmenu" title="Login">Login</a>
      </div>
      <div class="RHS">
         <!-- BEGIN PATH --><!-- END PATH -->
      </div>
    </div>

    <div id="header">UCome - Your Content Management</div>

    <form id="headerSearch" action="./index.html" method="get">
      <div>
        <!-- input type="text" class="text" value="Search..." / -->
      
        <!-- ###### Dynamic text box version:
        <input class="text" type="text" value="Search..."
               onFocus="if (this.value == 'Search...') this.value=''; else this.select();"
               onBlur="if (this.value == '') this.value='Search...';" />
             ###### -->

        <!-- input type="submit" class="submit" value="GO" / -->
      </div>
    </form>

    <div id="lowerMenuBar">
         <!-- BEGIN ALLOW --><!-- END ALLOW -->
    </div>

    <!-- ###### Side Boxes ###### -->
    <!-- BEGIN MENU -->
    <!-- END MENU -->
    <!-- div class="sideMenuBox lighterBG" -->
    <div class="sideTextBox" >
        Questions or Comments? Advice for me or from me? Please <a href="mailto:info@no-spam-ucome.org" class="dash" title="email the author">email me.</a>
    </div>

    <!-- ###### Body Text ###### -->

    <div id="bodyText">
	<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
    </div>
    
    <!-- ###### Footer ###### -->

    <div id="footer">
      <div>
        <span class="footerLHS">
            UCome - Created by  <a class="footerLHS" href="http://linbox.com" title="Linbox/Free&amp;ALter Soft">Linbox/Free&amp;ALter Soft</a>
        </span>
      </div>

      <div>
        Look closely adapted from <a href="http://oswd.com">OSWD</a> Sinorca design shareright &copy; 2003 Haran. Thank you Haran.&nbsp;
      </div>
    </div>
  </body>
</html>
