<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set syntax=html: -->
<!-- yes, you may use another editor, but, vim is BETTER -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="inspired by haran from Gila OSWD" />
    <link rel="stylesheet" type="text/css" href="fas:/template/gila/css/gila.css" title="Grey boxes stylesheet" />
    <link rel="stylesheet" type="text/css" href="fas:/template/gila/css/color-scheme.css" />
    <title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
  </head>

  <body>
    <div id="top"><!-- BEGIN PATH --><!-- END PATH --></div>
  
    <!-- ###### Header ###### -->
    <div id="header">
    	<a href="http://www.ucome.org" class="headerTitle">UCome  <span>Your Content Management</span></a>
	    <div class="headerLinks">
		&nbsp;<!-- BEGIN WHOAMI --><!-- END WHOAMI -->
	    </div>
    </div>
    <div class="menuBar">
         <!-- BEGIN ALLOW --><!-- END ALLOW -->
    </div>

    <!-- ###### Side Boxes ###### -->
    <div class="leftSideBar">
    	<!-- BEGIN MENU -->
    	<!-- END MENU -->
	<div class="sideBarTitle">Search</div>
    	<span class="sideTextBox" >
		<!-- BEGIN SEARCH --><!-- END SEARCH --></span>
	<div class="sideBarTitle">Next / Previous</div>
    	<span class="sideTextBox" >
		<!-- BEGIN PREVIOUS --><!-- END PREVIOUS --> <!-- BEGIN NEXT --><!-- END NEXT --></span>
	<div class="sideBarTitle">Sections</div>
    	<span class="sideTextBox" >
		<!-- BEGIN MINI_MENU --><!-- END MINI_MENU --></span>
    </div>

    <!-- ###### Body Text ###### -->

    <div id="bodyText">
	<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
    </div>
    
    <!-- ###### Footer ###### -->
    <div id="footer">
      <div>
            UCome - Created by  <a class="footerLHS" href="http://linbox.com" title="Linbox/Free&amp;ALter Soft">Linbox/Free&amp;ALter Soft</a>
      </div>

      <div>
        Look closely adapted from <a href="http://oswd.org">OSWD</a> Sinorca design shareright &copy; 2003 Haran. Thank you Haran.&nbsp;
      </div>
    </div>
  </body>
</html>
