<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- colors and general layout based on http://geocities.yahoo.com -->
<html>
<head>
	<title><!-- BEGIN TITLE -->TITRE<!-- END TITLE --></title>
	<link  rel="stylesheet" type="text/css" href="fas:/template/droll/css/style.css" title="Standard stylesheet" />
</head>
<body>
<div align=center>
<table border=0 cellpadding=1 cellspacing=0 width="80%">
<tr>
	<td class="tableOutline1">
		<table border=0 cellspacing=0 cellpadding=4 width="100%">
		<tr valign=middle class="titleBarTop">
			<td> 
				<span class=title>Ucome - Your Content Management</span>
				
			</td>
			<td align=right>
				<!-- BEGIN ALLOW --><!-- END ALLOW -->
			</td>
		</tr>
		</table>


		<table width="100%" cellpadding=2 cellspacing=0 border=0>
		<tr class=tableBody1 valign=middle>
			<td width="50%">
				<span class=heading>&nbsp;Login as : <!-- BEGIN WHOAMI --><!-- END WHOAMI -->&nbsp;-&nbsp;
        				<a href="fas:${file}&action=login_form" class="topmenu" title="Login">Login</a>
				</span>
			</td>
			<td width="50%" align=right>
				<b>Inspired by droll design at <a href="www.oswd.org">OSWD</a></b>
			</td>
		</tr>
		</table>

	</td>
</tr>
</table>

<table border=0 cellpadding=4 cellspacing=0 width="80%">
<tr>
	<td>
	<!-- BEGIN PATH --><!-- END PATH -->
	</td>
</tr>
</table>

<p>

<table width="80%" cellpadding=3 cellspacing=0 border=0>
<tr>
	<td valign=top width="30%">
		<table border=0 cellpadding=1 cellspacing=0>
		<tr>
			<td class="tableOutline1">
				<!-- BEGIN MENU --><!-- END MENU -->
			</td>
		</tr>
		</table>
	</td>
	<td width="1%">&nbsp;</td>
	<td width="69%" valign=top>
		<table cellpadding=1 cellspacing=0 border=0 width="100%">
		<tr>
			<td>
				<!-- BEGIN CONTENT --><!-- CONTENT -->CONTENT<!-- /CONTENT --><!-- END CONTENT -->
			</td>
		</tr>
		</table>
<br>
<p>
<table cellpadding=0 cellspacing=0 border=0 width="80%">
<tr valign="middle">
	<td class="footerOutline">
		<table cellpadding=1 cellspacing=1 border=0 width="100%">
		<tr valign=top class=footerBody>
			<td align=center>
				UCome - Create by <a href="http://freealter.com" title="Free&amp;ALter Soft/Linbox">Linbox/Free&ALter Soft</a>
			</td>
			<td align=center>
				Look inspired by Droll from <a href="www.oswd.org">OSWD</a>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>
</html>
