<html>
 <head>
  <title>
   Pretension!
  </title>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
 </head>

 <body>

  <!-- body table -->
  <table align="center" valign="top" border="0" cellpadding="8" cellspacing="0" width="85%">
   <!-- top header -->
   <tr>
    <td valign="center" width="25%" colspan="2">
     <!-- title table -->
     <table align="center" bgcolor="#000000" border="0" cellpadding="1" cellspacing="0" width="100%">
      <tr>
       <td valign="center">
        <table bgcolor="#ffffff" border="0" cellpadding="8" cellspacing="0" width="100%">
         <tr>
          <td valign="center">
           <h1>&nbsp;It's not Pretension... if it's TRUE!</h1>
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
     <!-- end title table -->
    </td>
   </tr>
   <!-- end top header -->
 
   <tr>
    <!-- left column -->
    <td valign="top" width="25%">
     <!-- sidebox -->
     <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td>
        <table border="0" cellpadding="3" cellspacing="1" width="100%">
         <tr>
          <td bgcolor="#cccccc">
           &nbsp;<a class="title" href="index.html">Site Index</a>
          </td>
         </tr>
         <tr>
          <td bgcolor="#ffffff">
           &nbsp;<span class="small">o</span>
           <a class="nav" href="index.html">my companies</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="index.html">my books</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="index.html">my projects</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="index.html">my charities</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="index.html">my fans</a>
           <br />
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
     <!-- end sidebox -->
     <br />

     <!-- sidebox -->
     <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td>
        <table border="0" cellpadding="3" cellspacing="1" width="100%">
         <tr>
          <td bgcolor="#cccccc">
           &nbsp;<span class="title">Geeky Links</span>
          </td>
         </tr>
         <tr>
          <td bgcolor="#ffffff">
           &nbsp;<span class="small">o</span>
           <a class="nav" href="http://www.openbsd.org/">OpenBSD</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="http://www.w3.org/">W3C</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="http://www.vorbis.com/">Ogg Vorbis</a>
           <br />
           &nbsp;<span class="small">o</span>
           <a class="nav" href="http://www.hydrogenaudio.org/">Hydrogen Audio</a>
           <br />
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
     <!-- end sidebox -->
    </td>
    <!-- end left column -->

    <!-- right column -->
    <td valign="top" width="75%">
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td valign="top" width="100%">

        <!-- story -->
        <table align="center" bgcolor="#000000" border="0" cellPadding="0" cellSpacing="0" width="100%">
         <tr>
          <td>
           <table border="0" cellpadding="8" cellspacing="1" width="100%">
            <tr>
             <td bgcolor="#ffffff">
              <h2>
               Welcome to Pretension! version 1.0.  
              </h2>

              <p>
               This is an HTML template designed by a perfectionist.
              </p>

              <p>
               It's written in clean, consistent XHTML. It uses CSS to separate content from design whenever
               possible. The markup is indented, fully commented, and easy to follow.
              </p>

              <h3>
               Other points of design include:
              </h3>

              <ul>
               <li>
                <b><i>Legibility:</i></b> High-contrast colors ensure easy-to-read text
               </li>
               <li>
                <b><i>Accessibility:</i></b> Fonts are relatively sized, and are therefore client-customizable - alterations in
                client font display size do not affect overall layout "look 'n feel". In addition, the layout retains
                consistency at any screen resolution, large or small.
               </li>
               <li>
                <b><i>Modularity:</i></b> Content elements are modularized - and are therefore easily adaptable
                to server-side scripting solutions (i.e., blogs, &c.)
               </li>
               <li>
                <b><i>Font Compatibility:</i></b> The laundry-list of fonts called in CSS makes for a relatively consistent
                look and feel across many, many platforms and operating systems.
               </li>
               <li>
                <b><i>Browser Compatibility:</i></b> Because the markup is consistent and standards compliant, it should render
                correctly on any modern browser (Mozilla, IE 5+, Opera).
               </li>
               <li>
                <b><i>Adaptability:</i></b> By extensively using CSS, customizing fonts and colors across the site is a snap.
               </li>
              </ul>

              <h3>
               So... Why?
              </h3>

              <p>
               Because I am tired of sites that are not logically consistent. Sites that are difficult to read.
               Sites that lock the client into one browser, one screen resolution, or one font size. Sites
               with bad, erroneous markup. Sites that place "looking cool" above content and content presentation.
               Sites with markup that is difficult to edit, customize, and place &lt;? php ?&gt; tags into the proper
               places. Sites with pukey colors and cheesey ASCII tricks. Sites with many, many broken, mis-placed,
               and incorrect &lt;font&gt; tags all over the place.
              </p>

              <p>
               So there you have it.
              </p>

              <p class="right">
               -krsna77
              </p>               
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <!-- end story -->

        <br />
        <!-- story -->
        <table align="center" bgcolor="#000000" border="0" cellPadding="0" cellSpacing="0" width="100%">
         <tr>
          <td>
           <table border="0" cellpadding="8" cellspacing="1" width="100%">
            <tr>
             <td bgcolor="#ffffff" colspan="2">
              <p>
               Content questions? <a href="mailto:foo@bar.baz">press me</a>.
               
              </p>

              <p>
               Technical questions?
               <a href="mailto:foo@bar.baz">Touch me</a> gently.
              </p>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <!-- end story -->

       </td>
      </tr>
     </table>
    </td>
    <!-- end right column -->
   </tr>

   <tr>
    <td align="middle" colspan="2">
     <!-- footer -->
     <tr>
      <td align="middle" colspan="2">
       <span class="footer">
        &copy; Copyleft 2001 - krsna77
       </span>
      </td>
     </tr>
     <!-- end footer -->
    </td>
   </tr>
  </table>
  <!-- end body table -->
 </body>
</html>
